:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-light: #ffffff;
  --bg-color-lite: #eeeff1;

  --container-small-size: 540px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--bg-color-lite);
  min-height: 700px;
  padding-top: 80px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-navbar {
  margin-bottom: 40px;
}

.header-navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 42px;
}

.header-navbar__link {
  letter-spacing: 0.1em;
  color: var(--color-black);
}

.header-navbar__link.active {
  font-weight: 500;
  color: var(--color-primary);
}

.header-content {
  max-width: var(--container-small-size);
}

.header-content__title {
  margin-top: 150px;
  margin-bottom: 35px;
  font-size: 48px;
  font-weight: 500;
  line-height: 79px;
  color: var(--color-black);
}

.header-content__description {
  margin-bottom: 60px;
  line-height: 26px;
  color: var(--color-secondary);
}

.header-content__link {
  width: 225px;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--color-primary);
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--color-light);
}

.about {
  padding: 112px 0 92px;
}

.about__container {
  max-width: 580px;
  padding: 0 20px;
  margin: 0 auto;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 39px;
}

.about__description {
  line-height: 26px;
  text-align: center;
  color: var(--color-secondary);
}

.experience {
  min-height: 250px;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  color: var(--color-light);
}

.container--experience {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.experience-item {
  display: flex;
  gap: 20px;
}

.experience-item__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.experience-item__name {
  font-weight: 400;
  line-height: 26px;
}

.process {
  padding: 100px 0 100px;
  background-color: var(--bg-color-lite);
}

.process__container {
  max-width: var(--container-small-size);
  margin: 0 auto;
}

.process__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.process__description {
  line-height: 26px;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 50px;
}

.process__video {
  width: 100%;
  height: 600px;
  border: none;
}

.footer {
  min-height: 150px;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 50px 0 45px;
}

.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}